body {
      font-family: Arial, sans-serif;
      background: #ffffff;
      padding: 20px;
      margin: 0;
    }

    h1 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }

    h2 {
      font-size: 34px;
      margin-top: 40px;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: #0077cc;
    }

    .nav {
      text-align: center;
      margin-bottom: 30px;
    }

    .nav a {
      margin: 0 10px;
      display: inline-block;
    }

    .table-container {
      overflow-x: auto;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      table-layout: fixed;
      margin-bottom: 30px;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
      font-size: 14px;
      word-wrap: break-word;
      white-space: normal;
    }

    th {
      background: #222;
      color: #fff;
    }
    .col{
      text-align: center;
    }
    @media (max-width: 600px) {
      h1 {
        font-size: 20px;
      }

      th, td {
        font-size: 12px;
        padding: 8px 4px;
      }
    }