:root { --azul: #3a8ed5; --dark: #33475b; --fondo: #f0f2f5; }

body { 
    font-family: sans-serif; background-color: var(--fondo); 
    margin: 0; padding: 10px; display: flex; flex-direction: column; align-items: center;
}

h1 { color: var(--dark); font-size: 1.5rem; margin: 15px 0; font-weight: 800; }

.main-card {
    background: white; width: 95%; max-width: 500px;
    padding: 20px; border-radius: 12px; box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    margin-bottom: 15px; text-align: center;
}

#status-msg { margin-bottom: 10px; font-weight: bold; font-size: 0.8rem; color: #27ae60; }

.input-login {
    width: 85%; padding: 12px; border: 1px solid #ddd; border-radius: 8px; margin-bottom: 15px; font-size: 1rem;
}

.btn-entrar {
    background: var(--dark); color: white; border: none; width: 90%; padding: 12px; border-radius: 8px; font-weight: bold; cursor: pointer;
}

/* TABLA ANCHA */
.tabla-container {
    background: white; width: 100%; max-width: 800px; 
    border-radius: 10px; overflow: hidden; box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

table { width: 100%; border-collapse: collapse; }

thead { background-color: var(--azul); color: white; }
th { padding: 15px 10px; font-size: 0.85rem; text-transform: uppercase; }

td { 
    padding: 12px 5px; border-bottom: 1px solid #f5f5f5; text-align: center; 
    word-wrap: break-word; 
}

.input-tab {
    width: 100%; border: none; background: transparent;
    text-align: center; font-size: 0.95rem; color: #333; padding: 5px 0;
}

.ver-link {
    display: inline-block; background: #eee; color: var(--dark);
    padding: 5px 10px; border-radius: 4px; text-decoration: none;
    font-size: 0.75rem; font-weight: bold; border: 1px solid #ccc;
}

.admin-btns { display: flex; gap: 10px; width: 100%; margin-bottom: 10px; }
.btn-act { flex: 1; padding: 12px; border-radius: 8px; border: none; color: white; font-weight: bold; }
.btn-x { background: #ffeded; color: #ff4d4d; border: 1px solid #ffcccc; padding: 5px 8px; border-radius: 4px; cursor: pointer; }
.btn-logout { background: none; border: none; color: #888; cursor: pointer; font-size: 0.8rem; margin-top: 10px; }

.bld { font-weight: 700; }
input:disabled { opacity: 1; -webkit-text-fill-color: #000; color: #000; }